-- SAFE MASTER SYNC (Idempotente)
DO \$\$ 
BEGIN
    -- 1. Columnas en Activities
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='activities' AND column_name='questions') THEN
        ALTER TABLE public.activities ADD COLUMN questions JSONB DEFAULT '[]'::jsonb;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='activities' AND column_name='time_limit') THEN
        ALTER TABLE public.activities ADD COLUMN time_limit INTEGER DEFAULT 0;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='activities' AND column_name='password') THEN
        ALTER TABLE public.activities ADD COLUMN password TEXT;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='activities' AND column_name='eval_method') THEN
        ALTER TABLE public.activities ADD COLUMN eval_method TEXT DEFAULT 'archivo';
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='activities' AND column_name='rubric') THEN
        ALTER TABLE public.activities ADD COLUMN rubric JSONB;
    END IF;
END \$\$;
