-- MASTER SYNC SQL MIGRATION
ALTER TABLE public.activities ADD COLUMN IF NOT EXISTS questions JSONB DEFAULT '[]'::jsonb;
ALTER TABLE public.activities ADD COLUMN IF NOT EXISTS time_limit INTEGER DEFAULT 0;
ALTER TABLE public.activities ADD COLUMN IF NOT EXISTS password TEXT;
ALTER TABLE public.activities ADD COLUMN IF NOT EXISTS eval_method TEXT DEFAULT 'archivo';
ALTER TABLE public.activities ADD COLUMN IF NOT EXISTS rubric JSONB;
ALTER TABLE public.submissions ADD COLUMN IF NOT EXISTS html_content TEXT;
ALTER TABLE public.submissions ADD COLUMN IF NOT EXISTS attachments JSONB DEFAULT '[]'::jsonb;
ALTER TABLE public.submissions ADD COLUMN IF NOT EXISTS feedback TEXT;
ALTER TABLE public.submissions ADD COLUMN IF NOT EXISTS grade_rubric JSONB;
ALTER TABLE public.messages ADD COLUMN IF NOT EXISTS attached_file JSONB;
ALTER TABLE public.messages ADD COLUMN IF NOT EXISTS options JSONB;
CREATE TABLE IF NOT EXISTS public.attendance (id UUID DEFAULT gen_random_uuid() PRIMARY KEY, event_id UUID REFERENCES public.events(id) ON DELETE CASCADE, student_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE, is_present BOOLEAN DEFAULT false, created_at TIMESTAMPTZ DEFAULT now());
CREATE TABLE IF NOT EXISTS public.content_reads (id UUID DEFAULT gen_random_uuid() PRIMARY KEY, content_id UUID NOT NULL, content_type TEXT NOT NULL, student_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE, created_at TIMESTAMPTZ DEFAULT now());
CREATE TABLE IF NOT EXISTS public.call_logs (id UUID DEFAULT gen_random_uuid() PRIMARY KEY, caller_id UUID REFERENCES public.profiles(id), caller_name TEXT, receiver_id UUID, receiver_name TEXT, chat_id TEXT, meet_url TEXT, type TEXT, participants JSONB DEFAULT '[]'::jsonb, event_id UUID, created_at BIGINT);
ALTER TABLE public.attendance ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Lectura
asistencia\ ON public.attendance FOR SELECT TO authenticated USING (true);
CREATE POLICY \
Escritura
asistencia\ ON public.attendance FOR ALL TO authenticated USING (true);
ALTER TABLE public.content_reads ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
General
content_reads\ ON public.content_reads FOR ALL TO authenticated USING (true);
ALTER TABLE public.call_logs ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
General
call_logs\ ON public.call_logs FOR ALL TO authenticated USING (true);
